.hero-section {
  height: 75vh;
  padding-top: 50px;
  width: 100%;
  background-color: #1a1919;
  background-image: url("../../assets/home/desktop/image-hero.jpg");
  background-position: 60% 70%;
  background-repeat: no-repeat;
}
