.hero-section {
  height: 75vh;
  padding-top: 80px;
  width: 100%;
  background-color: #1a1919;
  background-image: url("../../assets/home/desktop/image-hero.jpg");
  background-position: 60% 70%;
  background-repeat: no-repeat;

  @media (max-width: 880px) {
    background-image: url("../../assets/home/tablet/image-header.jpg");
    background-position: center;
    background-size: contain;
  }

  @media (max-width: 415px) {
    background-image: url("../../assets/home/mobile/image-header.jpg");
    background-position: center;
    background-size: contain;
  }
}

.about-us {
  padding: 200px 0px;

  @media (max-width: 990px) {
    padding: 96px 0px;
  }
}
