.gallery-container {
  height: 756px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 20px;
  margin-bottom: 120px;

  .img-container {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: 745px) {
  .gallery-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 368px;
    .img-container {
      &:first-child {
        grid-row: 1/2;
      }

      &:nth-child(2) {
        grid-row: 2/3;
      }

      &:last-child {
        grid-row: 1/3;
      }
    }
  }
}

@media (min-width: 1024px) {
  .gallery-container {
    height: 592px;
  }
}
