.box-content-container {
  margin-bottom: 88px;

  .title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.86px;
    text-transform: uppercase;
    line-height: 36px;
    color: var(--pure-black);
    margin-bottom: 24px;
  }

  .content-list {
    .content {
      display: flex;
      justify-content: flex-start;
      gap: 24px;
      font-size: 15px;
      letter-spacing: 0px;
      line-height: 25px;

      .quantity {
        font-weight: bold;
        color: var(--primary-orange);
      }

      .item {
        font-size: 15px;
        font-weight: 500;
        color: var(--pure-black);
        opacity: 0.5;
      }
    }
  }
}

@media (min-width: 745px) {
  .box-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .title {
      font-size: 32px;
    }
  }
}

@media (min-width: 990px) {
  .box-content-container {
    display: flex;
    flex-direction: column;
  }
}
