.product-display {
  margin-bottom: 120px;
  .image-container {
    margin-bottom: 32px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;

    .product-description {
      align-items: center;
      text-align: center;
    }
  }
}

@media (min-width: 990px) {
  .product-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-bottom: 160px;

    .image-container {
      height: 100%;
      margin-bottom: 0px !important;
    }

    .content {
      align-items: flex-start;

      .product-description {
        text-align: left;
        align-items: flex-start;
        padding: 70px 0px;
      }
    }

    &:nth-child(even) {
      .image-container {
        order: 2;
      }

      .content {
        order: 1;
      }
    }
  }
}
